name: First CI/CD Pipeline

on:
  push:
    branches:
      - main

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    env:
      DOCKER_IMAGE: almogso/jenkins-docker-example
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Log in to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_PASSWORD }}

      - name: Build and Push Docker Image
        uses: docker/build-push-action@v4
        with:
          context: .
          push: true
          tags: ${{env.DOCKER_IMAGE}}:latest

  deploy:
    runs-on: ubuntu-latest
    needs: build-and-push
    steps:
      - name: Deploy Docker Container
        run: |
          ssh -i ${{ secrets.SSH_PRIVATE_KEY }} ubuntu@3.84.79.208 << 'EOF'
            docker pull ${{env.DOCKER_IMAGE}}:latest
            docker stop my-jenkins-app || true
            docker rm my-jenkins-app || true
            docker run -d --name my-jenkins-app -p 5000:5000 ${{env.DOCKER_IMAGE}}:latest